table {
  width: 100%;
}

td {
  border: 0px;
  padding: 5px 0px;
}
tr.selected {
  background: #ddadcf
}

div.selection-box {
  background: rgba(0, 162, 255, 0.4);
  position: absolute;
  z-index: 99;
}