table {
  width: 90%;
  margin: 5%;
}

td { 
  color: #666; 
  font-family: Courier New, Courier, monospace;
}

td, th {
  border: 0px;
  padding: 10px;
}

th.currency, 
  td.currency {
  text-align: right
}

tr.selected {
  background: powderblue;
}

div.selection-box {
  background: rgba(0, 162, 255, 0.4);
  position: absolute;
  z-index: 99;
}