table {
  border-collapse: collapse;
  border: none;
  width: 90%;
  margin: 5%;
}

td { 
  color: #666; 
}

td, th {
  padding: 10px;
  text-align: left;
  cursor: default;
}

th.currency, 
  td.currency {
  text-align: right;
}

tr.selected {
  background: powderblue;
}

div.selection-box {
  background: rgba(0, 162, 255, 0.4);
  position: absolute;
  z-index: 99;
}